*.pyc
*.iml
*.xml
*.idea
src/__pycache__/AutoWave_class.cpython-39.pyc
src/__pycache__/AutoWave_class.cpython-39.pyc
.idea/misc.xml
src/__pycache__/AutoWave_class.cpython-39.pyc
src/__pycache__/Timer_class.cpython-39.pyc
*.pyc
*.pyc
src/__pycache__/Timer_class.cpython-39.pyc
src/__pycache__/AutoWave_class.cpython-39.pyc
src/__pycache__/Timer_class.cpython-39.pyc
